name: Update DOP SN Tile Index

on:
  push:
    branches:
    - main
  schedule:
    # run tile index creation every month (Min HH DD Month DayOfWeek)
    - cron:  '0 15 09 * *'

jobs:
  update-tindex-dop-sn:
    runs-on: ubuntu-latest
    env:
      CI_COMMIT_MESSAGE: Update SN DOP tile index
    steps:
    - uses: actions/checkout@v6
    - name: Creation of tindex
      run: |
        sed -i "s+RUN pip3 install requests remotezip+RUN pip3 install selenium+g" docker/Dockerfile
        sed -i "s+RUN python3 DOP/NW/openNRW_DOP_tindex.py+RUN python3 DOP/SN/DOP_tileindex_SN.py+g" docker/Dockerfile
        docker build -f docker/Dockerfile -t test-tindex .
        ID=$(docker create test-tindex)
        echo $ID
        docker cp $ID:/src/tile-indices/DOP/SN/DOP20_tileindex_SN.gpkg.gz DOP/SN/
    # Commit and push all changed files.
    - name: Upload tindex
      # Only run on main branch push (e.g. after pull request merge).
      run: |
        ID=$(docker create test-tindex)
        echo ${ID}
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git config pull.rebase false
        git add DOP/SN/DOP20_tileindex_SN.gpkg.gz
        git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
        git pull origin main
        git push
