name: Update Tile Index

on:
  push:
    branches:
      - dop_nw

jobs:
  update-tindex-dop-nw:
    runs-on: ubuntu-latest
    env:
      CI_COMMIT_MESSAGE: Update NW DOP tile index
    steps:
    - uses: actions/checkout@v3
    - name: Creation of tindex
      run: |
        docker build -f docker/Dockerfile -t test-tindex .
        ID=$(docker create test-tindex)
        echo $ID
        docker cp $ID:/src/tile-indices/DOP/NW/openNRW_DOP10_tileindex.gpkg.gz DOP/NW/
    # Commit and push all changed files.
    - name: Upload tindex
      # Only run on main branch push (e.g. after pull request merge).
      run: |
        ID=$(docker create test-tindex)
        echo ${ID}
        git config user.name "$GITHUB_ACTOR"
        git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        git add DOP/NW/openNRW_DOP10_tileindex.gpkg.gz
        git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
        git push
